.spacer{
    padding: 30px;
}

.contenido{
    background-color: #F0F0F0 ;
}

.botonera{
    margin-left: auto;
    margin-right: auto;
}

.header{
    margin-left: auto;
}

.card{
    background-color: #E8E8E8;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 3px 10px 2px rgba(0,0,0,0.68);
    box-shadow: 5px 3px 10px 2px rgba(0,0,0,0.68);
}

.espacio{
    padding: 10px;
}

.cancelar-detalle{
    background-color: #E65F5C;
    margin-right: 5px ;
    color: white;
    margin-left: 30%;
}

.spaceadoHeader{
    margin-left: 3em;
}

.editar{
    color: cornflowerblue;
    margin-left: 16em;
    margin-top: 1.25em;
}

@media only screen and (min-width: 1025px){
    .editar{
        margin-left: 26em;
    }
}

.boton-editar{
    background: transparent;
}

.enviar-modificacion{
    margin-left: 5px;
    background-color: #00B592;
    color: white;
}
