.filtro{
    padding-top: 10px;
    margin-left: 1.5em;
}

.estados{
    width: 100%;
}

.botonera-consulta{
    padding-top: 15px;
}

.ofertas-activas{
    background-color: lightgray;
    color: white;
}

.ofertas-inactivas{
    margin-left: 1em;
    background-color: lightgray;
    color: white;
}

.agregarOferta{
    width: 200px;
}

.titulo-filtro{
    padding-bottom: 15px;
}

.grid{
    margin-left: 20px;
    margin-right: 20px;
}

.contenido{
    background-color: #F0F0F0 ;
}

.crear{
    background-color: #00B592;
    color: #FFFFFF;
    margin-left:1em;
}

.consulta-activos{
    background-color: cornflowerblue;
}

.consulta-inactivos{
    background-color: cornflowerblue;
}