.filtro{
    padding-bottom: 15px;
    margin-left: 1.5em;
}

.estados{
    width: 100%;
}

.botonera-consulta{
    padding-top: 5px;
    padding-right: 10px;
}

.ofertas-activas{
    background-color: lightgray;
    color: white;
}

.ofertas-inactivas{
    margin-left: 1em;
    background-color: lightgray;
    color: white;
    margin-right: 1em;
}

.agregarOferta{
    width: 200px;
}

.titulo-filtro{
  margin-top: 2.50em!important;
}

.grid{
    margin-left: 20px;
    margin-right: 20px;
}

.contenido{
    background-color: #F0F0F0 ;
}

.crear{
    background-color: #00B592;
    color: #FFFFFF;
    margin-left:1em;
}

.consulta-activos{
    background-color: cornflowerblue;
}

.consulta-inactivos{
    background-color: cornflowerblue;
}

.filtro-fecha{
    margin-left: 1em;
}

.detalle-oferta{
    background-color: #00B592;
    color: #FFFFFF;
    margin-right: 5px;
}

.cancelar-oferta{
    background-color: #E65F5C;
    color: white;
    margin-right: 5px;
}

.duplicar-oferta{
    background: cornflowerblue;
    color: white;
}